.home {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  color: aquamarine;
}

img {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home .contentbx {
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
}
